
.field,.field-2 {
    color: #333;
    width: 100%;
    font-family: "Poppins";
    font-size: 16px;
    box-sizing: border-box;
    letter-spacing: 2px;
    border: 0;
    padding: 6px 0;
    border-bottom: 3px solid rgb(0, 0, 0);
    background-color: transparent;
}

.label-field {
    font-size: 17px;
    font-family: "Poppins";
}

.field:focus, .field-2:focus {
    outline: none;
}

.col-3 {
    float: left;
    width: 100%;
    max-width: 225px;
    position: relative;
}

.field~.focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color:var(--secondary-color);
    transition: 0.4s;
}

.field:focus~.focus-border,
.has-content.field~.focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}



.field~.label-field {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
    letter-spacing: 0.5px;
}

.field:focus~.label-field,
.has-content.field~.label-field {
    top: -16px;
    font-size: 12px;
    color:var(--secondary-color);
    letter-spacing: 1px;
    transition: 0.3s;
}
.input-effect > .up-label {
    top: -15px
}



                                                        /* SECOND INPUT*/



.field-2 {
    border: 1.5px solid rgb(0, 0, 0);
    padding: 7px 14px;
    transition: 0.4s;
    background: transparent;
}

.field-2~.focus-border:before,
.field-2~.focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color:var(--secondary-color);
    transition: 0.3s;
}

.field-2~.focus-border:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}

.field-2~.focus-border i:before,
.field-2~.focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color:var(--secondary-color);
    transition: 0.4s;
}

.field-2~.focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
}

.field-2:focus~.focus-border:before,
.field-2:focus~.focus-border:after,
.has-content.field-2~.focus-border:before,
.has-content.field-2~.focus-border:after {
    width: 100%;
    transition: 0.3s;
}

.field-2:focus~.focus-border i:before,
.field-2:focus~.focus-border i:after,
.has-content.field-2~.focus-border i:before,
.has-content.field-2~.focus-border i:after {
    height: 100%;
    transition: 0.4s;
}

.field-2~.label-field {
    position: absolute;
    left: 14px;
    width: 100%;
    top: 7px;
    color: #aaa;
    transition: 0.3s;
    letter-spacing: 0.5px;
}

.field-2:focus~.label-field,
.has-content.field-2~.label-field {
    top: -18px;
    left: 0;
    font-size: 12px;
    color:var(--secondary-color);
    transition: 0.3s;
}

.up>.up-label {
    top: -25px;
    left:0px
}